/*-
 * LAYOUTS / GLOBAL
-*/

html {
  font-size: $fs;

  @include media(min, $desktop-large) {
    font-size: $fs-l;
  }

  @include media(between, $phone-large, $desktop-xsmall) {
    font-size: $fs-m;
  }

  @include media(max, $phone-large) {
    font-size: $fs-s;
  }
}

body {
  color: $black;
  font: 400 1em/1.5 $default-family;
  background: white;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: white;
  background: $main;
}

main {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

// Divers
a {
  display: inline-block;
  color: $main;
  text-decoration: underline;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  white-space: normal;
  transition: all 0.3s ease;

  @include hover {
    color: black;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  display: block;
  width: 100%;
}
