/*-
 * LAYOUTS / HEADER
-*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: em(80);

  &__logo {
    img {
      width: em(75);
      height: em(26);
    }
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;

      li {
        &:not(:last-child) {
          margin-right: em(20);
        }
      }
    }
  }
}
