/*-
 * LAYOUTS / WRAPPERS
 * Conteneur pour l'alignement et l'espacement globale du site
-*/

.wrapper {
  padding-left: $side;
  padding-right: $side;

  @include media(max, $phone-large) {
    padding-left: $sideMobile;
    padding-right: $sideMobile;
  }

  &--small {
    @include media(min, $tablet-large) {
      padding-left: $side * 1.5;
      padding-right: $side * 1.5;
    }
  }

  &--full {
    @include media(min, $phone-large) {
      padding-left: $side / 2;
      padding-right: $side / 2;
    }
  }
}
