/*-
 * BASE / STYLES RESET
-*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, img, ins, kbd, q, s, samp, small, strike, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, picture, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, textarea, select {
  appearance: none;
  outline: 0;
  border-radius: 0;
}

[type=submit],
button {
  font-size: 1em;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
}
