/*-
 * BASE / VARIABLES
-*/

// Font sizes
$fs: 16px;
$fs-l: 18px;
$fs-m: 15px;
$fs-s: 14px;

// Couleurs
$black: #1C1C1C;
$white: #EDEDED;

$grey: #999;
$grey-d: darken($grey, 20);
$grey-l: lighten($grey, 30);

$error: #e20231;
$success: #3fc59d;

$main: #C61262;

// Polices
$open-sans: "Open Sans";
$default-family: $open-sans, sans-serif;

// Breakpoints
$desktop-xlarge: 2500px;
$desktop-large: 1920px;
$desktop-xmedium: 1700px;
$desktop-medium: 1440px;
$desktop-small: 1360px;
$desktop-xsmall: 1200px;

$tablet-large: 1024px;
$tablet-small: 768px;

$phone-large: 740px;
$phone-medium: 420px;
$phone-small: 320px;

// Easings
$acceleration: cubic-bezier(.7,0,0,1);
$easeOutQuad: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// Various Sizes
$side: 16vw;
$sideMobile: rem(30, $fs-s);

$spacing: rem(100);
$fieldSpacing: rem(10);
