/*-
 * COMPONENTS / CONTENT BLOCKS
-*/

[class^="wp-block"] {

  &.alignwide {
    margin-left: calc(-#{$side} / 2);
    margin-right: calc(-#{$side} / 2);

    @include media(max, $phone-large) {
      margin-left: -$sideMobile;
      margin-right: -$sideMobile;
    }
  }

  &.alignfull {
    margin-left: -$side;
    margin-right: -$side;

    @include media(max, $phone-large) {
      margin-left: -$sideMobile;
      margin-right: -$sideMobile;
    }
  }
}

//
//
// BASE text + image
.wp-block-media-text {

  @include media(min, $tablet-small) {
    display: flex;

    &.has-media-on-the-right {
      flex-direction: row-reverse;
    }

    &__media {
      width: 60%
    }

    &__content {
      width: 40%;
    }
  }

  &__content {
    padding: em(40);

    @include media(max, $phone-large) {
      padding: $sideMobile;
    }
  }
}
