/*-
 * COMPONENTS / BUTTONS
-*/

//
//
// BASIC BUTTONS
.button {
  $_: &;
  display: inline-block;
  color: white;
  font: bold 1rem/1.2 $default-family;
  text-align: center;
  padding: em(15) em(30);
  white-space: nowrap;
  vertical-align: middle;
  background: $main;
  transition: all 0.4s ease;

  // Sizes
  &--small {
    font-size: em(13);
  }

  // Colors
  &--dark {
    color: $white;
    background-color: $grey;
  }

  &--light {
    color: $black;
    background-color: $white;
  }

  // OUTLINE
  &--outline {
    color: $main;
    background: none;
    border: 1px solid $main;

    @at-root #{$_}--dark#{&} {
      color: $grey;
      border-color: $grey;
    }

    @at-root #{$_}--light#{&} {
      color: $white;
      border-color: $white;
    }
  }

  // HOVER
  @include hover {
    color: $white;
    background-color: $black;
    border-color: $black;
  }
}

//
//
// TEXT LINKS
.link {
  display: inline-block;
  color: $main;
  font: bold 1rem/1.5 $default-family;
  white-space: nowrap;
  vertical-align: middle;
  // transition: all 0.4s ease;
  @include icon('arrow-right', after);

  // Icons
  &:before,
  &:after {
    font-size: em(10);
    vertical-align: 1px;
  }

  &:before {
    margin-right: 1em;
  }

  &:after {
    margin-left: 1em;
  }

  // Colors
  &--dark {
    color: $grey;
  }

  &--light {
    color: $white;
  }

  // HOVER
  @include hover {
    color: $black;
    @include icon('arrow-right-hover', after, false);
  }
}
