/*-
 * COMPONENTS / ÉLÉMENTS DE FORMULAIRE
 * Optimisé pour l'utilisation en conjonction avec Gravity Forms
-*/

// Labels
label {
  display: block;
  font-weight: bold;
  margin-bottom: em(5);
  transition: all 0.3s ease;

  .gfield_error & {
    color: $error;
  }
}

// Champs de texte, textarea et dropdown
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select {
  display: block;
  width: 100%;
  height: em(50);
  color: $black;
  font: 1rem/1.4 $default-family;
  padding: em(13) em(18);
  margin: 0;
  background: transparent;
  border: 1px solid $black;
  transition: all 0.3s ease;

  @include placeholder {
    color: $grey;
  }

  &:hover,
  &:focus {
    color: $main;
    border-color: $main;
  }

  .gfield_error & {
    border-color: $error;

    @include placeholder {
      color: $error;
    }
  }
}

textarea {
  height: em(150);
  resize: vertical;
}

select {
  cursor: pointer;
  padding-right: em(60);
  background: url('../images/select-arrow.svg') no-repeat right em(20) center / em(20) auto;

  &::-ms-expand {
    display: none; // This hides native dropdown button arrow in IE
  }
}

// Checkboxes & radios
input[type="radio"],
input[type="checkbox"] {
  display: none;

  & + label {
    display: block;
    padding-left: em(25);
    white-space: nowrap;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      width: 1em;
      height: 1em;
      font-size: em(18);
      margin-top: -0.5em;
      position: absolute;
      top: 50%;
      left: 0;
      background: $black;
      border: 1px solid $black;
      box-shadow: inset 0 0 0 1em white;
      transition: all 0.3s ease;
    }

    .gfield_error & {
      color: $error;

      &:before {
        border-color: $error;
      }
    }

    @include hover {
      color: $main;

      &:before {
        background-color: $main;
        border-color: $main;
      }
    }
  }

  &:checked + label {

    &:before {
      background-color: $main;
      box-shadow: inset 0 0 0 0.2em white;
    }
  }
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

// Files
input[type="file"] {
  display: block;
}
