/*-
 * COMPONENTS / TYPOGRAPHIE
 * Styles d'éléments de texte courant
-*/

.typography {

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }

  // Titres
  h2, h3, h4 {
    margin-top: 2.5rem;

    &:not([class]) {
      font-weight: 600;
      line-height: 1.3;
    }
  }

  // Paragraphes
  p {
    margin: 1.5rem 0;
  }

  a:not([class]) {
    color: $main;
    text-decoration: underline;
  }

  // Listes
  ul,
  ol {
    &:not([class]) {
      list-style: none;
      margin: 1.5rem 0;

      ul,
      ol {
        margin: 1em 0;
      }

      li {
        padding-left: em(35);
        margin: 0.8em 0;
        position: relative;

        &:before {
          content: "—";
          color: $main;
          font-weight: bold;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  ol:not([class]) {
    counter-reset: ol;

    li:before {
      content: counter(ol)".";
      counter-increment: ol;
      font-weight: bold;
    }
  }

  // Blockquote
  blockquote {
    color: $main;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    padding: 2em 0;

    @include media(min, $phone-large) {
      padding-left: 12%;
      padding-right: 12%;
    }
  }

  // Line break
  hr,
  .wp-block-separator {
    width: 30%;
    height: 1px;
    margin: $spacing auto;
    background: $main;
    border: none;
  }

  // Images
  img,
  .wp-caption {
    &.alignleft {
      float: left;
      margin: 0.2em 1.5em 1em 0;
    }

    &.alignright {
      float: right;
      margin: 0.2em 0 1em 1.5em;
    }

    @include media(max, $phone-large) {
      &.alignleft,
      &.alignright {
        float: none;
        display: block;
        margin-bottom: 1.5em;
      }
    }

    &.aligncenter,
    &.alignnone {
      display: block;
    }
  }

  .wp-caption {
    margin: 1.5em 0;

    @include media(max, $phone-large) {
      width: 100% !important;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    p.wp-caption-text {
      font-size: 0.75em;
      font-style: italic;
      text-align: center;
      margin: 1em 0 0;
    }
  }

}
