/*-
 * PARTS / GRAVITY FORMS
 * Styles de formulaire pour le plugin Wordpress Gravity Forms
-*/

// Grid
.gform_fields {
  display: flex;
  flex-wrap: wrap;
  margin: $fieldSpacing #{-$fieldSpacing};
}

.gfield {
  width: 100%;
  padding: $fieldSpacing;
  position: relative;

  // Sizes
  @include media(min, $phone-large) {
    &--half {
      width: 50%;
    }

    &--two-third {
      width: 66.6666%;
    }

    &--one-third {
      width: 33.3333%;
    }

    &--one-quarter {
      width: 25%;
    }
  }
}

// Footer
.gform_footer {
  width: em(150);
  margin-left: auto;
  margin-top: $fieldSpacing;
  position: relative;

  .button {
    width: 100%;
  }

  .gform_ajax_spinner {
    padding: em(12);
    z-index: 5;
    background: $grey;
    @extend %fullscreen;
  }
}

// Validation messages
.validation_error {
  font-weight: bold;
  padding: em(15) em(20);
  margin-bottom: $fieldSpacing;
  background: rgba($error, 0.05);
}

.gform_confirmation_message {
  color: white;
  font-weight: bold;
  padding: em(15) em(20);
  background: $success;
}

// Hidden fields
.gform_anchor,
.gfield .validation_message,
.gfield .instruction,
.gform_validation_container {
  display: none !important;
  position: absolute !important;
  left: -9000px;
}
